@font-face { 
  font-family: 'HyundaiSansHeadKRMedium';
  src: url('../assets/fonts/HyundaiSansHeadKRMedium.eot'); /* IE9 Compat Modes */ 
  src: local('LGSmHaTSB_0'),
    url('../assets/fonts/HyundaiSansHeadKRMedium.ttf') format('truetype'), /* Safari, Android, iOS */ 
    url('../assets/fonts/HyundaiSansHeadKRMedium.woff') format('woff'), /* Safari, Android, iOS */ 
      }


@font-face { 
  font-family: 'HyundaiSansHeadKRLight';
  src: url('../assets/fonts/HyundaiSansHeadKRLight.eot'); /* IE9 Compat Modes */ 
  src: local('LGSmHaTSB_0'),
    url('../assets/fonts/HyundaiSansHeadKRLight.ttf') format('truetype'), /* Safari, Android, iOS */ 
    url('../assets/fonts/HyundaiSansHeadKRLight.woff') format('woff'), /* Safari, Android, iOS */ 
      }


$base_navbar_size_w : 3.513rem;
$base_navbar_size_h : 20.938rem;

$outside_navbar_size_w : 21.125rem;
$outside_navbar_size_h : 2.375rem;

$inside_navbar_size_w : 13.375rem;
$inside_navbar_size_h : 2.375rem;

$nav-bar_tab_top : 4.35rem;
$outside_tab : 2.723rem;
$inside_tab : 2.823rem;

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family:  'HyundaiSansHeadKRMedium', 'HyundaiSansHeadKRLight';
    font-style: normal;
    height: 100%;
    width : 100%;

  }

#container {
  position: absolute;
  left: 0;
  top: 0;
  height:100%; width:100%; 
  z-index: 200;
}
#main_title_area
{
  position : fixed;
  left : 2.806rem;
  top : 1.97rem;
}


#car_select
{
  position : fixed;
  left : 2.688rem;
  top : 5.313rem;
  width: 13.163rem;
  height: 2.038rem;
  color : blue;
  padding: 0.25rem;
  padding-top : 0.3rem;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0.1);
  font-size : 0.813rem;
  
  border-radius: 3rem;
  background-image: url( "../assets/img/car_select_bag.svg" );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  white-space:nowrap;

 }
.car_select_btn
  {
    width : 6.313rem;
    height: 1.938rem;
    border-radius: 3rem;
    border : 0;
    color: #313131;
    background-color: #fff;
    background: transparent;
    opacity: 1;
  }

#car_select .selected
{
  background: linear-gradient( to bottom, #023e82, #021831);
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  opacity: 1;
}

.tab {
  width : 3.563rem;;
  position: absolute;
  height :  3.563rem;;
  border-radius: 3rem;
  color: #313131;
  float : left;
  border : 0;
  background: transparent;
  font-size : 0.75rem;
}

#nav-bar .selected  {
  //background-color: #002c5e;
  background: linear-gradient( to bottom, #023e82, #021831);
  color: #fff;
}
#nav-bar #tab-5 {
  background-color: rgba(0, 44, 94 , 0.2);
}

#nav-bar #tab-5 #online_font {
    color: #fff;
}

.outside_tab {
  width : 2.375rem;
  height : 2.375rem;
  border-radius: 3rem;
  border: 0;
  padding :0;
  color: #fff;
  position:absolute;

}

#outside-nav-bar #outside_tab-1,#outside-nav-bar #outside_tab-2   {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.16);
    background: linear-gradient(to bottom, #6b6b6b, #313941);
    opacity: 0.6;
    
  }

#outside-nav-bar #outside_tab-3  {
  background: linear-gradient( to bottom, #88b260, #394e27);
}

#outside-nav-bar #outside_tab-4  {
  background: linear-gradient( to bottom, #fff, #b8b8b8);
}

#outside-nav-bar #outside_tab-5  {
  background: linear-gradient( to bottom, #4e7bdb, #1c3465);
}

#outside-nav-bar #outside_tab-6  {
  background: linear-gradient( to bottom, #ce6453, #922816);
}

#outside-nav-bar #outside_tab-7  {
  background: linear-gradient( to bottom, #bcbcbc, #6e6e6e);
}

#outside-nav-bar #outside_tab-8  {
  background: linear-gradient( to bottom, #f9f2eb, #dfc6b0);
}

.inside_tab {
    width :2.375rem;
    height : 2.375rem;
    border-radius: 3rem;
    border : 0;
    padding :0;
    color: #fff;
    position:absolute;
}

#inside-nav-bar #inside_tab-1,#inside-nav-bar #inside_tab-2   {
    background: linear-gradient( to bottom, #6b6b6b, #313941);
    opacity: 0.6
  }

#inside-nav-bar #inside_tab-3  {
background: linear-gradient( to bottom, #363636, #212121);
}

.inner_circle
{
    border-radius: 1.1875rem 0rem  0rem 1.1875rem;
    width : 1.1875rem;
    height : 2.375rem;
}

#inner_circle1
{
    background-color: #292d8e;
    border-radius: 1.1875rem 0rem  0rem 1.1875rem;
    float : left;
}

#inner_circle2
{
    border-radius: 0rem  1.1875rem 1.1875rem 0rem;
    background-color: #fbf592;
    float :left;
}

#inner_circle3
{
    
    background-color: #cecdad;
    border-radius: 1.1875rem 0rem  0rem 1.1875rem;
    float : left;
}

#inner_circle4
{
    border-radius: 0rem  1.5625rem 1.5625rem 0rem;
    background-color: #f6ab55;
    float :left;
}

#btn_large_popup_close
{
  position: fixed;
  top : 1rem;
  right: 1rem;
}

#disableDiv { position:absolute; left:0; top:0;width:100%; height:100%; z-index:2000 ; background-color:#000; filter:Alpha(opacity=0);opacity:0.5; -moz-opaciry:0.5}

.popup_small
{
    position: absolute;
    left : 0;
    right: 0;
    top : 0;
    bottom : 0;
    margin : auto;
    z-index : 2001;    

    padding: 0.558rem 0.496rem 0.875rem 0.875rem;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
}
#btn_small_popup_close{
    position: absolute;
    top : 1rem;
    right: 1rem;
    border : 0;
}

.small_popup_badge
{
  font-size : 0.1rem;
  background-color: #fff;
  border-radius: 5rem;
  padding : 0.1rem 0.3rem 0.1rem 0.3rem; 
  text-align: center;
  color: #959595;
  opacity: 1;
  border: solid 1px #959595;
}

.btn_small_popup_detail
{
    
    margin: 0rem 0.254rem 0 0.625rem;
    padding: 0.75rem 0.688rem;
    border: 0;
    background: transparent;
    font-size: 0.688rem;
}

.popup_small .small_popup_img_area { 
  
  width: 15.875rem;
  height: 14.313rem;
  float : left;
}

.popup_small .small_popup_img_area img {
    border-radius: 0.5rem;
    width : 100%;
 
}

.popup_small .small_popup_content {
  padding-top : 2em;
  width : 13.625rem;
  float : left;
}

.popup_small .small_popup_content .title1 {
  background-color: #fff;
  font-size : 1.25rem;
}

.popup_small .small_popup_content .title2 {
  background-color: #fff;
}

.popup_small .content { 
    margin-left : 0.625rem;
    float : left;
    word-break:break-all;
    font-size : 0.75rem;
    font-family: 'HyundaiSansHeadKRLight';
  }

#popup_small2_title
{
  color: #313131;
  font-size : 1.25rem;
  font-family: 'HyundaiSansHeadKRMedium';
}

#popup_large
{
    position: absolute;
    left: 0;
    top: 0;
    height : 100%;
    width: 100%;
    background-position:100%;
    background-image: url( "../assets/img/111.png" );
    z-index : 2001;    
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

#nav-bar, #outside-nav-bar, #inside-nav-bar {
  margin : auto;
  background-color: rgba(255, 255, 255, 0.5);
  
  color : #fff;
  border-radius: 5rem;
  white-space:nowrap;
  text-align: center;
  object-fit: contain;
  padding: 0.375rem;
  z-index : 400;
}

#popup_social
{
  font-size : 1.25rem;
  width: 17.813rem;
  height: 23.75rem;
  position: absolute;
  left : 0;
  right: 0;
  top : 0;
  bottom : 0;
  margin : auto;
  z-index : 1000;  
  text-align: center;  

  padding: 0.558rem 0.496rem 0.875rem 0.875rem;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  color: #404040;
}

#popup_social .small_popup_title
{
  margin-top : 3.5rem;
}

.fw300 {
  font-weight: 300;
}

.fontHeadKR
{
  font-family: 'HyundaiSansHeadKRLight';
}
#popup_social #btn_social_popup_detail
{
  border: 0;
  background: transparent;
  left : 0;
  right: 0;
  margin:auto;
}

.border0 {
  border : 0;
  background: transparent;
}

#social_btn_area
{
  margin-top : 2.313rem;
}

.in  {
  position: absolute;
}

#facebook .in {
  padding-left : 0.813rem;
  padding-top : 0.43rem;
}

#twitter .in {
  padding-left : 0.731rem;
  padding-top : 0.856rem;
}

#instagram .in {
  padding-left : 0.784rem;
  padding-top : 0.784rem;
}

#hint {
  position: fixed;
  background-color: #fff;
  width : 100vw;
  height : 100vh;
  z-index: 1300;
  border: none;
  text-align: center;

  .loading_image {
    position: absolute;
    
    left : 0;
    right : 0;
    margin : auto;
  }

  #loading_image1{top : 16.313rem; }
  #loading_image2{top : 27.063rem; }
  #loading_image3{top : 28.688rem; }


  .progress-ring {
    z-index: 200;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 33.5%;
    left: 51.4%;
  }
  .progress-ring__circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  p {
    text-align: center;
    color: #a50634;
    font-size: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 29%;
    left: 51%;
    z-index: 250;
  }
}

#bubble2
{
  position: absolute; 
  bottom : 0rem;
  right : 4rem;
  .label
  {
    font-family: 'HyundaiSansHeadKR';
    font-size: 0.813rem;
    position: absolute;
    top : 0.725rem;
    left : 0.8rem;
  }
}

#bubble
{
  position: absolute; 
  bottom : 4rem;
  right : 0rem;
  
  .label
  {
    font-family: 'HyundaiSansHeadKR';
    font-size: 0.813rem;
    position: absolute;
    top : 0.725rem;
    left : 0.8rem;
  }
}

@media (orientation: portrait) { //세로모드
  #nav-bar
  {
    position : fixed;
    width : $base_navbar_size_h;
    height : $base_navbar_size_w;
    right : 0; left : 0;
    bottom : 3.25rem;
  }
 
  @for $i from 1 to 6 {
    #nav-bar #tab-#{$i} {
      bottom : 0.375rem;
      $num : $i - 1;
      left : ($nav-bar_tab_top * $num) + 0.375rem;
    }
  }
  #outside-nav-bar
  {
    position : fixed;
    width : $outside_navbar_size_w;
    height : $outside_navbar_size_h;
    right : 0; left : 0;
    bottom : 8.813rem;
  }

  @for $i from 1 to 9 {
    #outside-nav-bar #outside_tab-#{$i} {
      bottom : 0.375rem;
      $num : $i - 1;
      left : ($outside_tab * $num) + 0.25rem;
      animation: floating_outside_tab-#{$i} 1s 0s normal;
    }
  }

  
  @for $i from 1 to 6 {
    #inside-nav-bar #inside_tab-#{$i} {
      bottom : 0.375rem;
      $num : $i - 1;
      left : ($inside_tab * $num) + 0.25rem;
      animation: floating_inside_tab-#{$i} 1s 0s normal;
    }
  }

  #inside-nav-bar
  {
    position : fixed;
    width : $inside_navbar_size_w;
    height : $inside_navbar_size_h;
    right : 0; left : 0;
    bottom : 8.813rem;
  }

  .popup_small
  {
    width: 17.813rem;
    height: 29.938rem;

    .small_popup_img_area { 
      margin-top: 4.188rem;
    }

    .small_popup_img_area img {
      width : 110%;
    }
    .small_popup_content .title1 {
      position: absolute;
      top : 0rem;
    }
    .small_popup_content .content { 
      margin-top : 0rem;
      margin-left : 0rem;
    }
    .btn_small_popup_detail  {
        position: absolute;
        bottom : 0.875rem;
        left : 3.25rem;
    }
  }

    
  #hint {
    .loading_image { display: block;}

    .progress-ring {display : none; }
    .progress-ring__circle { display : none; }
    p {display : none; }
  }
 

  @for $i from 2 to 9 {
      @keyframes floating_outside_tab-#{$i} {
      $num : $i - 1;
      from  { left : 0rem;}
      to    { left : ( $outside_tab * $num) + 0.25rem;}
    }
  }

  @for $i from 2 to 6 {
      @keyframes floating_inside_tab-#{$i} {
      $num : $i - 1;
      from  { left : 0rem;}
      to    { left : ( $inside_tab * $num) + 0.25rem;}
    }
  }

  #bubble2 { display : none;}
  #bubble  { display : block;}
}

@media (orientation: landscape) { //가로모드
  #nav-bar
  {
    position : fixed;
    width : $base_navbar_size_w;
    height : $base_navbar_size_h;
    right : 2.938rem;
    top : 0;
    bottom : 0;
  }

  @for $i from 1 to 6 {
    #nav-bar #tab-#{$i} {
      right : 0.375rem;
      $num : $i - 1;
      top : ($nav-bar_tab_top * $num) + 0.375rem;
    }
  }
  
  #outside-nav-bar
  {
    position : fixed;
    width : $outside_navbar_size_h;
    height : $outside_navbar_size_w;
    right : 8.5rem;
    top : 0;
    bottom : 0;
    //animation : outsidetab_height 1s 0s normal;
  }

  
  @for $i from 1 to 9 {
    #outside-nav-bar #outside_tab-#{$i} {
      right : 0.375rem;
      $num : $i - 1;
      top : ($outside_tab * $num) + 0.25rem;
      animation: floating_outside_tab-#{$i} 1s 0s normal;
    }
  }

  @for $i from 1 to 6 {
    #inside-nav-bar #inside_tab-#{$i} {
      right : 0.375rem;
      $num : $i - 1;
      top : ($inside_tab * $num) + 0.25rem;
      animation: floating_inside_tab-#{$i} 1s 0s normal;
    }
  }

  #inside-nav-bar
  {
    position : fixed;
    width : $inside_navbar_size_h;
    height : $inside_navbar_size_w;
    right : 8.5rem;
    top : 0;
    bottom : 0;
  }

  .popup_small
  {
      width: 29.5rem;
      height: 16.063rem;
      .small_popup_img_area { 
        padding-top: 0.875rem;
      }
    
      .small_popup_img_area img {
        width : 100%;
      }
    
      .small_popup_content .title1 {
        margin-top: 0.995rem;
        margin-left : 0.625rem;
      }
      .small_popup_content .title2 {
        margin-top: -0.819rem;
        margin-left : 0.625rem;
      }
    
      .content { 
        margin-left : 0.625rem;
      }
    
      .btn_small_popup_detail  {
          position: absolute;
          bottom : 0.875rem;
          left : 16.375rem;
      }
      #small_popup_badge  {
        position:absolute;
        left : 17.375rem;
        top : 2.32rem;
      }
  }
    
  #hint {
    .loading_image { display: none;}

    .progress-ring {display : block; }
    .progress-ring__circle { display : block; }
    p {display : block; }

  }

  
  @for $i from 2 to 9 {
      @keyframes floating_outside_tab-#{$i} {
      $num : $i - 1;
      from  { top : 0rem;}
      to    { top : ( $outside_tab * $num) + 0.25rem;}
    }
  }

  @for $i from 2 to 6 {
      @keyframes floating_inside_tab-#{$i} {
      $num : $i - 1;
      from  { top : 0rem;}
      to    { top : ( $inside_tab * $num) + 0.25rem;}
    }
  }

  @keyframes outsidetab_height { 
    from  { height : 0rem;}
    to    {  height : 27.125rem;}
   }

   #bubble2 { display : block;}
   #bubble  { display : none;}

} //landscape

@keyframes blink-effect { 50% { opacity: 0; } }
@keyframes floating {/* circle이라는 애니메이션 키프래임 만들기*/
  0%  {position: absolute;top : 0rem;}
  30% {   position: absolute;top : 5rem;}
  60% {   position: absolute;top : 15em;}
  100% {   position: absolute;top : 20rem;}
}


